In [2]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import types

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 02:08:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/03 02:08:41 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [3]:
df_green = spark.read.parquet("data/green/*/*")

In [4]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-23 13:10:15|  2020-01-23 13:38:16|                 N|         1|          74|         130|              1|        12.77|       36.0|  0.0|    0.5|      2.05|        6.12|     null|                  0.3|       44.97|           1|        1|                 0.0|
|       2| 2020-01-15 16:56:36|  2020-01-15 17:19:05|                 N|         1|          97|          33|              1|         2.69|       15.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        16.8|           2|        1|                 0.0|
|       1| 2020-01-16 05:55:12|  2020-01-16 06:30:08|                 N|         1|          82|          68|              1|         10.3|       33.5| 2.75|    0.5|       0.0|         6.0|     null|                  0.3|       43.05|           3|        1|                2.75|
|       2| 2020-01-14 12:50:42|  2020-01-14 12:55:46|                 N|         1|          75|          74|              1|         1.31|        6.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           1|        1|                 0.0|
|       2| 2020-01-07 06:36:27|  2020-01-07 06:48:27|                 N|         1|         244|          74|              1|         3.05|       11.5|  0.0|    0.5|      3.08|         0.0|     null|                  0.3|       15.38|           1|        1|                 0.0|
|       2| 2020-01-04 10:28:49|  2020-01-04 10:32:45|                 N|         1|          42|          41|              1|         0.77|        5.0|  0.0|    0.5|      1.16|         0.0|     null|                  0.3|        6.96|           1|        1|                 0.0|
|       2| 2020-01-19 12:30:08|  2020-01-19 12:40:53|                 N|         1|          74|         166|              1|         1.93|        9.0|  0.0|    0.5|      1.96|         0.0|     null|                  0.3|       11.76|           1|        1|                 0.0|
|       1| 2020-01-04 20:44:28|  2020-01-04 20:52:24|                 N|         1|         129|         129|              1|          2.2|        9.5|  0.5|    0.5|       2.0|         0.0|     null|                  0.3|        12.8|           1|        1|                 0.0|
|       2| 2020-01-21 23:13:47|  2020-01-21 23:17:31|                 N|         1|          61|          61|              1|         0.85|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       2| 2020-01-12 11:53:00|  2020-01-12 11:57:33|                 N|         1|           7|         179|              1|         0.92|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       2| 2020-01-12 20:53:46|  2020-01-12 20:59:01|                 N|         1|          74|          42|              1|         1.33|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|
|       2| 2020-01-17 22:33:35|  2020-01-17 22:47:30|                 N|         1|          74|         140|              1|         3.02|       12.0|  0.5|    0.5|      3.21|         0.0|     null|                  0.3|       19.26|           1|        1|                2.75|
|       2| 2020-01-05 11:46:31|  2020-01-05 11:53:31|                 N|         1|          17|          97|              1|          0.0|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       2| 2020-01-17 12:03:20|  2020-01-17 12:08:28|                 N|         1|         166|         166|              1|          0.9|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       2| 2020-01-08 23:22:35|  2020-01-08 23:27:05|                 N|         1|         210|         210|              1|         0.92|        5.5|  0.5|    0.5|       0.8|         0.0|     null|                  0.3|         7.6|           1|        1|                 0.0|
|       2| 2020-01-10 22:39:31|  2020-01-10 22:47:32|                 N|         1|          95|         135|              1|         1.85|        8.5|  0.5|    0.5|      2.45|         0.0|     null|                  0.3|       12.25|           1|        1|                 0.0|
|       2| 2020-01-03 21:19:11|  2020-01-03 21:35:10|                 N|         5|         196|          92|              1|         2.68|       22.0|  0.0|    0.0|      0.01|         0.0|     null|                  0.3|       22.31|           1|        2|                 0.0|
|       2| 2020-01-17 16:15:44|  2020-01-17 16:21:30|                 N|         1|          42|          42|              1|         0.69|        6.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|
|       1| 2020-01-06 05:02:38|  2020-01-06 05:16:27|                 N|         1|          76|          72|              1|          3.2|       12.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        13.8|           1|        1|                 0.0|
|       2| 2020-01-03 08:00:47|  2020-01-03 08:15:39|                 N|         1|          39|          39|              1|          2.3|       12.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        12.8|           1|        1|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [7]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_green.count()

2304517

In [9]:
df_green.registerTempTable('green')

/home/rizky/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [23]:
spark.sql("""
SELECT VendorID, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID
FROM green
LIMIT 10;
""").show()

+--------+-------------------+-------------------+------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+--------+-------------------+-------------------+------------+------------+
|       2|2020-01-23 13:10:15|2020-01-23 13:38:16|          74|         130|
|       2|2020-01-15 16:56:36|2020-01-15 17:19:05|          97|          33|
|       1|2020-01-16 05:55:12|2020-01-16 06:30:08|          82|          68|
|       2|2020-01-14 12:50:42|2020-01-14 12:55:46|          75|          74|
|       2|2020-01-07 06:36:27|2020-01-07 06:48:27|         244|          74|
|       2|2020-01-04 10:28:49|2020-01-04 10:32:45|          42|          41|
|       2|2020-01-19 12:30:08|2020-01-19 12:40:53|          74|         166|
|       1|2020-01-04 20:44:28|2020-01-04 20:52:24|         129|         129|
|       2|2020-01-21 23:13:47|2020-01-21 23:17:31|          61|          61|
|       2|2020-01-12 11:53:00|2020-01-12 11:57:33|           7|         179|
+--------+-------------------+-------------------+------------+------------+

In [12]:
df_green_revenue = spark.sql("""
SELECT
    date_trunc('hour', pickup_datetime) AS hour_month,
    PULocationID AS revenue_zone,
    SUM(total_amount) AS revenue_monthly_total_amount,
    COUNT(1) AS number_records
FROM
    green
GROUP BY
    1, 2
ORDER BY
    1, 2
""").show()

+-------------------+------------+----------------------------+--------------+
|         hour_month|revenue_zone|revenue_monthly_total_amount|number_records|
+-------------------+------------+----------------------------+--------------+
|2008-12-31 22:00:00|         193|                         0.0|             1|
|2008-12-31 23:00:00|         166|                        11.3|             1|
|2008-12-31 23:00:00|         193|                         0.0|             2|
|2008-12-31 23:00:00|         264|                         0.0|             1|
|2009-01-01 00:00:00|           7|                         9.8|             1|
|2009-01-01 00:00:00|          41|          15.850000000000001|             2|
|2009-01-01 00:00:00|          42|                         8.3|             1|
|2009-01-01 00:00:00|          74|                         9.8|             1|
|2009-01-01 00:00:00|          75|           98.39999999999999|             2|
|2009-01-01 00:00:00|         116|                         7.3|             1|
|2009-01-01 00:00:00|         130|                        11.8|             1|
|2009-01-01 00:00:00|         193|          12.350000000000001|             8|
|2009-01-01 00:00:00|         264|                         0.0|             1|
|2009-01-01 01:00:00|          41|                         0.0|             2|
|2009-01-01 01:00:00|          49|                        11.8|             1|
|2009-01-01 01:00:00|          75|                         6.3|             1|
|2009-01-01 01:00:00|         130|                        24.8|             1|
|2009-01-01 01:00:00|         152|                        15.3|             1|
|2009-01-01 01:00:00|         193|                         0.0|             2|
|2009-01-01 01:00:00|         244|                         8.8|             1|
+-------------------+------------+----------------------------+--------------+
only showing top 20 rows

In [13]:
df_zones_pd = pd.read_csv("taxi+_zone_lookup.csv")
df_zones_pd.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [16]:
df_zones_pd.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
zones_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [20]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv("taxi+_zone_lookup.csv")

In [24]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [25]:
df_zones.registerTempTable('zones')

/home/rizky/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [28]:
df_green_revenue = spark.sql("""
SELECT
    *
FROM
    green AS g, zones AS z
WHERE
    g.PULocationID = z.LocationID
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+----------+---------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|LocationID|  Borough|                Zone|service_zone|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+----------+---------+--------------------+------------+
|       2|2020-01-23 13:10:15|2020-01-23 13:38:16|                 N|         1|          74|         130|              1|        12.77|       36.0|  0.0|    0.5|      2.05|        6.12|     null|                  0.3|       44.97|           1|        1|                 0.0|        74|Manhattan|   East Harlem North|   Boro Zone|
|       2|2020-01-15 16:56:36|2020-01-15 17:19:05|                 N|         1|          97|          33|              1|         2.69|       15.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        16.8|           2|        1|                 0.0|        97| Brooklyn|         Fort Greene|   Boro Zone|
|       1|2020-01-16 05:55:12|2020-01-16 06:30:08|                 N|         1|          82|          68|              1|         10.3|       33.5| 2.75|    0.5|       0.0|         6.0|     null|                  0.3|       43.05|           3|        1|                2.75|        82|   Queens|            Elmhurst|   Boro Zone|
|       2|2020-01-14 12:50:42|2020-01-14 12:55:46|                 N|         1|          75|          74|              1|         1.31|        6.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           1|        1|                 0.0|        75|Manhattan|   East Harlem South|   Boro Zone|
|       2|2020-01-07 06:36:27|2020-01-07 06:48:27|                 N|         1|         244|          74|              1|         3.05|       11.5|  0.0|    0.5|      3.08|         0.0|     null|                  0.3|       15.38|           1|        1|                 0.0|       244|Manhattan|Washington Height...|   Boro Zone|
|       2|2020-01-04 10:28:49|2020-01-04 10:32:45|                 N|         1|          42|          41|              1|         0.77|        5.0|  0.0|    0.5|      1.16|         0.0|     null|                  0.3|        6.96|           1|        1|                 0.0|        42|Manhattan|Central Harlem North|   Boro Zone|
|       2|2020-01-19 12:30:08|2020-01-19 12:40:53|                 N|         1|          74|         166|              1|         1.93|        9.0|  0.0|    0.5|      1.96|         0.0|     null|                  0.3|       11.76|           1|        1|                 0.0|        74|Manhattan|   East Harlem North|   Boro Zone|
|       1|2020-01-04 20:44:28|2020-01-04 20:52:24|                 N|         1|         129|         129|              1|          2.2|        9.5|  0.5|    0.5|       2.0|         0.0|     null|                  0.3|        12.8|           1|        1|                 0.0|       129|   Queens|     Jackson Heights|   Boro Zone|
|       2|2020-01-21 23:13:47|2020-01-21 23:17:31|                 N|         1|          61|          61|              1|         0.85|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|        61| Brooklyn| Crown Heights North|   Boro Zone|
|       2|2020-01-12 11:53:00|2020-01-12 11:57:33|                 N|         1|           7|         179|              1|         0.92|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|         7|   Queens|             Astoria|   Boro Zone|
|       2|2020-01-12 20:53:46|2020-01-12 20:59:01|                 N|         1|          74|          42|              1|         1.33|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|        74|Manhattan|   East Harlem North|   Boro Zone|
|       2|2020-01-17 22:33:35|2020-01-17 22:47:30|                 N|         1|          74|         140|              1|         3.02|       12.0|  0.5|    0.5|      3.21|         0.0|     null|                  0.3|       19.26|           1|        1|                2.75|        74|Manhattan|   East Harlem North|   Boro Zone|
|       2|2020-01-05 11:46:31|2020-01-05 11:53:31|                 N|         1|          17|          97|              1|          0.0|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|        17| Brooklyn|             Bedford|   Boro Zone|
|       2|2020-01-17 12:03:20|2020-01-17 12:08:28|                 N|         1|         166|         166|              1|          0.9|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|       166|Manhattan| Morningside Heights|   Boro Zone|
|       2|2020-01-08 23:22:35|2020-01-08 23:27:05|                 N|         1|         210|         210|              1|         0.92|        5.5|  0.5|    0.5|       0.8|         0.0|     null|                  0.3|         7.6|           1|        1|                 0.0|       210| Brooklyn|      Sheepshead Bay|   Boro Zone|
|       2|2020-01-10 22:39:31|2020-01-10 22:47:32|                 N|         1|          95|         135|              1|         1.85|        8.5|  0.5|    0.5|      2.45|         0.0|     null|                  0.3|       12.25|           1|        1|                 0.0|        95|   Queens|        Forest Hills|   Boro Zone|
|       2|2020-01-03 21:19:11|2020-01-03 21:35:10|                 N|         5|         196|          92|              1|         2.68|       22.0|  0.0|    0.0|      0.01|         0.0|     null|                  0.3|       22.31|           1|        2|                 0.0|       196|   Queens|           Rego Park|   Boro Zone|
|       2|2020-01-17 16:15:44|2020-01-17 16:21:30|                 N|         1|          42|          42|              1|         0.69|        6.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|        42|Manhattan|Central Harlem North|   Boro Zone|
|       1|2020-01-06 05:02:38|2020-01-06 05:16:27|                 N|         1|          76|          72|              1|          3.2|       12.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        13.8|           1|        1|                 0.0|        76| Brooklyn|       East New York|   Boro Zone|
|       2|2020-01-03 08:00:47|2020-01-03 08:15:39|                 N|         1|          39|          39|              1|          2.3|       12.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        12.8|           1|        1|                 0.0|        39| Brooklyn|            Canarsie|   Boro Zone|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+----------+---------+--------------------+------------+
only showing top 20 rows